# Create sales_data.csv from Superstore.csv

## Step 1: Import Required Libraries

In [1]:
import pandas as pd

## Step 2: Load the Superstore Dataset

In [2]:
df = pd.read_csv("Superstore.csv")

### Display shape and first few rows to verify

In [3]:
print("Original dataset shape:", df.shape)
df.head()

Original dataset shape: (9994, 21)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

## Step 3: Select Required Columns

### Columns required for Project 2

In [4]:
selected_columns = [
    'Product Name',
    'Region',
    'Sales',
    'Profit',
    'Discount',
    'Category',
    'Order Date'
]

### Create the subset DataFrame

In [6]:
sales_df = df[selected_columns]

### Display shape and preview

In [7]:
print("sales_data.csv shape:", sales_df.shape)
sales_df.head()

sales_data.csv shape: (9994, 7)

,Product Name,Region,Sales,Profit,Discount,Category,Order Date
0,Bush Somerset Collection Bookcase,South,261.9600,41.9136,0.00,Furniture,11/8/2016
1,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",South,731.9400,219.5820,0.00,Furniture,11/8/2016
2,Self-Adhesive Address Labels for Typewriters b...,West,14.6200,6.8714,0.00,Office Supplies,6/12/2016
3,Bretford CR4500 Series Slim Rectangular Table,South,957.5775,-383.0310,0.45,Furniture,10/11/2015
4,Eldon Fold 'N Roll Cart System,South,22.3680,2.5164,0.20,Office Supplies,10/11/2015

## Step 4: Save to New CSV

In [8]:
sales_df.to_csv("sales_data.csv", index=False)
print("✅ 'sales_data.csv' created successfully!")

✅ 'sales_data.csv' created successfully!